<section class="businesses">
    <div class="container">
        <h2 class="title businesses__title">
            Кому подходит финансовая аналитика?
        </h2>
        <p class="businesses__descr">
            Независимо от масштаба, четкое управление финансами – основа успеха.
        </p>
        <div class="businesses__list">
            <article class="businesses__list-item" style="background-image: url('./img/businesses/image1.jpg');">
                <div class="businesses__list-content">
                    <h3 class="businesses__list-title">
                        Малый<br>бизнес
                    </h3>
                    <p class="businesses__list-descr">
                        Грамотное распределение ресурсов и повышение прибыльности
                    </p>
                    <a href="#" class="businesses__list-btn">Подробнее</a>
                </div>
            </article>
            <article class="businesses__list-item" style="background-image: url('./img/businesses/image2.jpg');">
                <div class="businesses__list-content">
                    <h3 class="businesses__list-title">
                        Средний<br>бизнес
                    </h3>
                    <p class="businesses__list-descr">
                        Контроль финансовых потоков, рост
                        и масштабирование
                    </p>
                    <a href="#" class="businesses__list-btn">Подробнее</a>
                </div>
            </article>
            <article class="businesses__list-item" style="background-image: url('./img/businesses/image3.jpg');">
                <div class="businesses__list-content">
                    <h3 class="businesses__list-title">
                        Крупный<br>бизнес
                    </h3>
                    <p class="businesses__list-descr">
                        Управление сложными финансовыми структурами
                    </p>
                    <a href="#" class="businesses__list-btn">Подробнее</a>
                </div>

            </article>
            <article class="businesses__list-item" style="background-image: url('./img/businesses/image4.jpg');">
                <div class="businesses__list-content">
                    <h3 class="businesses__list-title">
                        Бизнес на<br>маркетплейсах
                    </h3>
                    <p class="businesses__list-descr">
                        Анализ ценообразования, расходов на логистику и маркетинг
                    </p>
                    <a href="#" class="businesses__list-btn">Подробнее</a>
                </div>
            </article>
        </div>
        <div class="businesses__bot">
            <button class="btn-light">Получить бесплатную консультацию</button>
        </div>
    </div>
</section>