<section class="cases">
  <div class="cases__container">
    <h2 class="title">Наши кейсы</h2>
    <p class="cases__descr">
      Мы помогли более 1000 компаний увеличить свою прибыль на разных этапах
      развития бизнеса.
    </p>
    <div class="cases__slider swiper">
      <div class="swiper-wrapper">
        {{#repeat 3}}
        <!-- article -->
        <article class="swiper-slide cases__slide">
          <div class="cases__slide-top">
            <img
              src="./img/cases/case-logo-1.png"
              alt="Локотип компании шопоголик"
              class="cases__slide-logo"
            />
            <div class="cases__slide-top-content">
              <p class="cases__slide-category">Малый бизнес</p>
              <h3 class="cases__slide-title">
                Брендовый оффлайн магазин одежды “шопоголик” г. Барнаул
              </h3>
              <a href="#" class="cases__slide-tag"> shopogolic_barnaul </a>
            </div>
          </div>
          <div class="cases__slide-main">
            <div class="cases__slide-item cases__slide-item--1">
              <p class="cases__slide-descr cases__slide-descr--arrow">
                Точка А
              </p>
              <div class="cases__slide-content">
                <ul>
                  <li>Оборот 1 млн. в месяц</li>
                  <li>1 точка продажи</li>
                  <li>Нет понимания какая чистая прибыль</li>
                  <li>Неизвестно, на что делать упор</li>
                </ul>
              </div>
            </div>
            <div class="cases__slide-item cases__slide-item--2">
              <p class="cases__slide-descr cases__slide-descr--color">
                Точка Б / Результат
              </p>
              <div class="cases__slide-content">
                <ul>
                  <li style="font-weight: bold;">
                    <span style="color: #2b660b;"
                      >Увеличили оборот на 6 млн. руб.</span
                    >
                    в год, где стоимость наших услуг составила 250 тыс. руб.
                  </li>
                  <li style="font-weight: bold;">
                    Всего за 3 месяца смогли подготовиться к
                    <span style="color: #2b660b;"
                      >открытию 2-ой точки</span
                    >
                  </li>
                  <li style="font-weight: bold;">
                    <span style="color: #2b660b;"
                      >Избавили клиентов от растерянности и непонимания,</span
                    >
                    что происходит с бизнесом, появилась уверенность и желание
                    развивать компанию
                  </li>
                  <li style="font-weight: bold;">
                    Клиент
                    <span style="color: #2b660b;"
                      >имеет пошаговый план действий</span
                    >
                    по увеличению суммы девидентов в 3 раза за 6 месяцев
                  </li>
                </ul>
              </div>
            </div>
            <div class="cases__slide-item cases__slide-item--3">
              <p class="cases__slide-descr">Что сделано</p>
              <div class="cases__slide-content">
                <ul>
                  <li>Внедрение ДДС, ОПиУ и Баланс</li>
                  <li>Автоматизация 1С</li>
                  <li>Выявление наиболее продающихся и маржинальных товаров</li>
                  <li>Избавление от ненужных товаров</li>
                </ul>
              </div>
            </div>
          </div>
        </article>
        <!-- article -->
        {{/repeat}}
      </div>
    </div>
    <div class="cases__scrollbar"></div>
  </div>
</section>
