<header class="header">
    <div class="header__inner">
        <div class="header__links">
            <div class="header__logo-wrap">
                <a href="/" class="header__logo">
                    <img src="./img/logo.png" alt="Вернуться на главную">
                </a>
            </div>
            <nav class="nav" id="main-menu">
                <ul class="nav__list">
                    <li>
                        <a href="#">
                            О нас
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Услуги
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Кейсы
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Отзывы
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header__phone-wrap">
            <a href="tel:+79213328730" class="header__phone">+7 (921) 332 87 30</a>
        </div>
        <button class="header__btn-form" data-modal="modal-2">Заказать звонок</button>
        <button aria-label="открыть меню" class="header__burger" aria-label="Открыть меню" aria-controls="main-menu"></button>
    </div>
</header>