<div class="improvements">
    <div class="container">
        <div class="title">
            После работы с нами вы:
        </div>
    </div>
    <div class="improvements__shift">
        <div class="improvements__slider swiper">
            <div class="improvements__slider-scrollbar"></div>
            <ol class="swiper-wrapper improvements__slider-track">
                <li class="improvements__item swiper-slide" style="background-image: url('./img/improvements/image1.jpg');">
                    <div class="improvements__item-effect">
                        <p class="improvements__item-text">
                            Получите прозрачную картину доходов и расходов
                        </p>
                    </div>
                    <div class="improvements__item-bottom">
                        <a href="#" class="btn-white">Подробнее</a>                
                    </div>
                </li>
                <li class="improvements__item swiper-slide" style="background-image: url('./img/improvements/image2.jpg');">
                    <div class="improvements__item-effect">
                        <p class="improvements__item-text">
                            Увеличите прибыль
                        </p>
                    </div>
                    <div class="improvements__item-bottom">
                        <a href="#" class="btn-white">Подробнее</a>                
                    </div>
                </li>
                <li class="improvements__item swiper-slide" style="background-image: url('./img/improvements/image3.jpg');">
                    <div class="improvements__item-effect">
                        <p class="improvements__item-text">
                            Избавитетесь от кассовых разрывов
                        </p>
                    </div>
                    <div class="improvements__item-bottom">
                        <a href="#" class="btn-white">Подробнее</a>                
                    </div>
                </li>
                <li class="improvements__item swiper-slide" style="background-image: url('./img/improvements/image4.jpg');">
                    <div class="improvements__item-effect">
                        <p class="improvements__item-text">
                            Имеете 5 ключевых задач на каждую неделю для улучшения финансового состояния
                        </p>
                    </div>
                    <div class="improvements__item-bottom">
                        <a href="#" class="btn-white">Подробнее</a>                
                    </div>
                </li>
                <li class="improvements__item swiper-slide" style="background-image: url('./img/improvements/image5.jpg');">
                    <div class="improvements__item-effect">
                        <p class="improvements__item-text">
                            Имеете отчет ДДС (движение денежных средств) – контроль доходов и расходов.
                        </p>
                    </div>
                    <div class="improvements__item-bottom">
                        <a href="#" class="btn-white">Подробнее</a>                
                    </div>
                </li>
                <li class="improvements__item swiper-slide" style="background-image: url('./img/improvements/image6.jpg');">
                    <div class="improvements__item-effect">
                        <p class="improvements__item-text">
                            Топ-5 приоритетных действий каждую неделю
                        </p>
                    </div>
                    <div class="improvements__item-bottom">
                        <a href="#" class="btn-white">Подробнее</a>                
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>
</div>