<section class="reasons">
    <div class="container">
        <h2 class="title reasons__title">
            Почему вам нужна финансовая аналитика?
        </h2>
        <p class="reasons__descr">
            Финансовая аналитика – это не просто цифры. Это конкретные решения для роста вашего бизнеса. Без четкого
            понимания финансов бизнес рискует работать "вслепую"
        </p>
        <div class="reasons__content">
            <p class="reasons__content-descr">Мы помогаем предпринимателям:</p>
            <ol class="reasons__list">
                <li class="reasons__list-item">
                    <span class="reasons__list-text--bold">Выстроить прозрачную систему учета</span>
                    <span class="reasons__list-text--medium">и понять, куда уходит каждый рубль</span>
                </li>
                <li class="reasons__list-item">
                    <span class="reasons__list-text--bold">Оптимизировать расходы</span>
                    <span class="reasons__list-text--medium">и повысить прибыльность</span>
                </li>
                <li class="reasons__list-item">
                    <span class="reasons__list-text--bold">Предотвратить кассовые разрывы</span>
                    <span class="reasons__list-text--medium">и выйти на стабильный денежный поток</span>
                </li>
                <li class="reasons__list-item">
                    <span class="reasons__list-text--bold">Прогнозировать развитие</span>
                    <span class="reasons__list-text--medium">и планировать рост компании</span>
                </li>
            </ol>
        </div>
    </div>
</section>