<section class="reviews">
    <div class="reviews__container">
        <h2 class="title reviews__title">отзывы</h2>
    </div>
    <div class="reviews__shift">
        <div class="reviews__slider">
            <ul class="reviews__list">
                <li class="reviews__item">
                    <img src="./img/reviews/review-1.jpg" alt="отзыв александра" class="reviews__img">
                </li>
                <li class="reviews__item">
                    <img src="./img/reviews/review-2.jpg" alt="отзыв димы" class="reviews__img">
                </li>
                <li class="reviews__item">
                    <img src="./img/reviews/review-3.jpg" alt="отзыв алеши" class="reviews__img">
                </li>
                <li class="reviews__item">
                    <img src="./img/reviews/review-4.jpg" alt="отзыв алеши" class="reviews__img">
                </li>
            </ul>
        </div>
    </div>
</section>