<section class="stages">
    <div class="container">
        <h2 class="title">
            Этапы работы:
        </h2>
    </div>
    <div class="stages__container">
        <div class="stages__slider" data-simplebar>
            <ol class="stages__list">
                <li class="stages__item stages__item--1">
                    <p class="stages__item-top">Заявка</p>
                    <p class="stages__item-descr">Вы оставляете запрос на консультацию</p>
                </li>
                <li class="stages__item stages__item--2">
                    <p class="stages__item-top">Первая встреча</p>
                    <p class="stages__item-descr">Анализируем вашу ситуацию и задачи</p>
                </li>
                <li class="stages__item stages__item--3">
                    <p class="stages__item-top">Договор</p>
                    <p class="stages__item-descr">Заключаем<br>соглашение о работе</p>
                </li>
                <li class="stages__item stages__item--4">
                    <p class="stages__item-top">Сбор данных</p>
                    <p class="stages__item-descr">Изучаем текущие финансы и бизнес-процессы</p>
                </li>
                <li class="stages__item stages__item--5">
                    <p class="stages__item-top">Глубокий<br>анализ</p>
                    <p class="stages__item-descr">Находим точки роста и оптимизации.</p>
                </li>
                <li class="stages__item stages__item--6">
                    <p class="stages__item-top">Презентация решений</p>
                    <p class="stages__item-descr">Отчет результатов за отчетный период</p>
                </li>
                <li class="stages__item stages__item--7">
                    <p class="stages__item-top">План развития</p>
                    <p class="stages__item-descr">Даем четкие шаги по увеличению прибыли</p>
                </li>
                <li class="stages__item stages__item--8">
                    <p class="stages__item-top">Поддержка</p>
                    <p class="stages__item-descr">Помогаем внедрить изменения и добиться результатов</p>
                </li>
            </ol>
        </div>
    </div>
    <div class="container">
        <div class="stages__video">
            <video controls>
                <source src="./assets/video/stages-video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="stages__bot">
            <button class="btn-light" data-modal="modal-3">Получить план увеличения прибыли</button>
        </div>
    </div>
</section>