<section class="team">
    <div class="team__container">
        <h2 class="title team__title">
            Команда
        </h2>
        <article class="team__lider">
            <div class="team__lider-top">
                <h3 class="team__lider-title">Наумкина Светлана</h3>
                <p class="team__lider-position">Управляющий компанией «Здоровые финансы»</p>
            </div>
            <div class="team__lider-body">
                <div class="team__lider-photo">
                    <img src="./img/team/team-1.jpg" alt="Лидер компании Наумкина Светлана" class="team__lider-img">
                    <ul class="team__social">
                        <li class="team__social-item">
                            <a href="#" class="team__social-link">
                                <img src="./img/social-team/icon1.svg" alt="Написать в whatsup" class="team__social-img">
                            </a>
                        </li>
                        <li class="team__social-item">
                            <a href="#" class="team__social-link">
                                <img src="./img/social-team/icon2.svg" alt="Написать в телеграм" class="team__social-img">
                            </a>
                        </li>
                        <li class="team__social-item">
                            <a href="#" class="team__social-link">
                                <img src="./img/social-team/icon3.svg" alt="Написать в instagram" class="team__social-img">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="team__lider-content">
                    <ul>
                        <li>
                            Генеральный директор общества с ограниченной ответственностью «Балтийская правовая коллегия», более 140 компаний находятся на бухгалтерском сопровождении, штатная численность бухгалтеров - 13 чел., собственный штат программистов (компания основана в 2008 году);
                        </li>
                        <li>
                            Генеральный директор общества с ограниченной ответственностью «Здоровые финансы», финансовый директор на аутсорсинге, более 30 компаний на сопровождении (компания основана в 2024 году);
                        </li>
                        <li>
                            Аттестованный аудитор (квалификационный аттестат аудитора в области общего аудита № К 027692 от 07.11.2007) и член СРО «Содружество» (Выписка из реестра аудиторов и аудиторских организаций Саморегулируемой организации аудиторов Ассоциации “Содружество” от 30.01.2017 года № 2066-Ф/17, основной регистрационный номер 21706016578)
                            Член Общественного совета по развитию Малого предпринимательства при администрации Красногвардейского р-на СПб (с 2024 года);
                        </li>
                        <li>
                            Член Общественного совета по развитию Малого предпринимательства при администрации Красногвардейского р-на СПб (с 2024 года);
                        </li>
                    </ul>
                    <a href="#" style="font-size: 15px; color: #1A1A1A;">Читать больше</a>
                </div>
            </div>
        </article>
        <article class="team__lider">
            <div class="team__lider-top">
                <h3 class="team__lider-title">Бараева Татьяна</h3>
                <p class="team__lider-position">Управляющий компанией «Здоровые финансы»</p>
            </div>
            <div class="team__lider-body">
                <div class="team__lider-photo">
                    <img src="./img/team/team-2.jpg" alt="Лидер компании Наумкина Светлана" class="team__lider-img">
                    <ul class="team__social">
                        <li class="team__social-item">
                            <a href="#" class="team__social-link">
                                <img src="./img/social-team/icon1.svg" alt="Написать в whatsup" class="team__social-img">
                            </a>
                        </li>
                        <li class="team__social-item">
                            <a href="#" class="team__social-link">
                                <img src="./img/social-team/icon2.svg" alt="Написать в телеграм" class="team__social-img">
                            </a>
                        </li>
                        <li class="team__social-item">
                            <a href="#" class="team__social-link">
                                <img src="./img/social-team/icon3.svg" alt="Написать в instagram" class="team__social-img">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="team__lider-content">
                    <ul>
                        <li>
                            Управляющий партнер компании "Здоровые финансы";
                        </li>
                        <li>
                            Управляющий партнер компании "Здоровые финансы";
                        </li>
                        <li>
                            Cобственник бухгалтерской компании «Baraeva_Finance»;
                        </li>
                        <li>
                            Эксперт по внедрению управленческого учета на базе 1С УНФ;
                        </li>
                        <li>
                            Победитель Областного конкурса им. П.А. Столыпина "Лучший предприниматель Свердловской области в сфере финансового учета в 2023 году";
                        </li>
                        <li>
                            Член «ОПОРА РОССИИ» с 2018 года;
                        </li>
                        <li>
                            Обучила фин. учету 100+ коллег;
                        </li>
                        <li>
                            Спикер, наставник, блогер.
                        </li>
                    </ul>
                </div>
            </div>
        </article>
        <div class="team__list">
            <article class="team__list-item">
                <img src="./img/team/team-3.jpg" alt="изображение члена команды" class="team__list-img">
                <div class="team__list-info">
                    <h2 class="team__list-title">Руслан Емлиханов</h2>
                    <p class="team__list-descr">Финансовый директор </p>
                </div>
            </article>
            <article class="team__list-item">
                <img src="./img/team/team-4.jpg" alt="изображение члена команды" class="team__list-img">
                <div class="team__list-info">
                    <h2 class="team__list-title">Олеся Доняева</h2>
                    <p class="team__list-descr">Руководитель академии по обучению финансовых аналитиков</p>
                </div>
            </article>
            <article class="team__list-item">
                <img src="./img/team/team-5.jpg" alt="изображение члена команды" class="team__list-img">
                <div class="team__list-info">
                    <h2 class="team__list-title">Александр Бараев</h2>
                    <p class="team__list-descr">Финансовый директор </p>
                </div>
            </article>
        </div>
    </div>
</section>