<section class="tools">
    <div class="tools__container">
        <div class="tools__grid">
            <article class="tools__item">
                <h3 class="tools__item-title">
                    Отчет о движении денежных средств (ДДС)
                </h3>
                <p class="tools__item-descr">
                    четкий контроль доходов и расходов.
                </p>
                <div class="tools__item-bot">
                    <p class="tools__item-price">
                        от 18.000р.
                    </p>
                    <a href="#" class="btn">Подробнее</a>
                </div>
            </article>
            <div class="tools__intro">
                <h2 class="tools__title">
                    Какие инструменты мы используем?
                </h2>
                <div class="tools__intro-content">
                    <p>
                        В своей работе применяем только проверенные и эффективные методики:
                    </p>
                    <p>
                        Эти инструменты помогают не только понимать финансовое состояние компании, но и управлять
                        бизнесом осознанно.
                    </p>
                </div>
            </div>
            <article class="tools__item">
                <h3 class="tools__item-title">
                    Отчет о прибыли и убытках (P&L)
                </h3>
                <p class="tools__item-descr">
                    прозрачный учет финансовых показателей
                </p>
                <div class="tools__item-bot">
                    <p class="tools__item-price">
                        от 30.000р.
                    </p>
                    <a href="#" class="btn">Подробнее</a>
                </div>
            </article>
            <article class="tools__item">
                <h3 class="tools__item-title">
                    ABC-анализ
                </h3>
                <p class="tools__item-descr">
                    расстановка приоритетов в финансах
                </p>
                <div class="tools__item-bot">
                    <p class="tools__item-price">
                        от 15.000р.
                    </p>
                    <a href="#" class="btn">Подробнее</a>
                </div>
            </article>
            <article class="tools__item">
                <h3 class="tools__item-title">
                    Финансовая модель
                </h3>
                <p class="tools__item-descr">
                    прогнозирование прибыли
                </p>
                <div class="tools__item-bot">
                    <p class="tools__item-price">
                        от 40.000р.
                    </p>
                    <a href="#" class="btn">Подробнее</a>
                </div>
            </article>
            <div class="tools__decor"></div>
            <article class="tools__item">
                <h3 class="tools__item-title">
                    Управленческий баланс
                </h3>
                <p class="tools__item-descr">
                    контроль активов и обязательств
                </p>
                <div class="tools__item-bot">
                    <p class="tools__item-price">
                        от 20.000р.
                    </p>
                    <a href="#" class="btn">Подробнее</a>
                </div>
            </article>
            <article class="tools__item tools__item--desc-2-3">
                <h3 class="tools__item-title">
                    Управленческий баланс
                </h3>
                <p class="tools__item-descr">
                    контроль активов и обязательств
                </p>
                <div class="tools__item-bot">
                    <p class="tools__item-price">
                        от 20.000р.
                    </p>
                    <a href="#" class="btn">Подробнее</a>
                </div>
            </article>
            <article class="tools__item tools__item--desc-3-4">
                <h3 class="tools__item-title">
                    Юнит-экономика
                </h3>
                <p class="tools__item-descr">
                    анализ эффективности каждого продукта или направления.
                </p>
                <div class="tools__item-bot">
                    <p class="tools__item-price">
                        от 15.000р.
                    </p>
                    <a href="#" class="btn">Подробнее</a>
                </div>
            </article>
            <article class="tools__item tools__item--desc-4-5">
                <h3 class="tools__item-title">
                    Внедрение управленческого учета в 1С
                </h3>
                <p class="tools__item-descr">
                    автоматизация процессов
                </p>
                <div class="tools__item-bot">
                    <p class="tools__item-price">
                        от 170.000р.
                    </p>
                    <a href="#" class="btn">Подробнее</a>
                </div>
            </article>
            <div class="tools__bottom">
                <div class="tools__bottom-decor"></div>
                <p class="tools__bottom-text">
                    Первичная онлайн- консультация с финансовым директором <span style="color: #2B660B;">бесплатно</span>
                </p>
            </div>
        </div>
    </div>
</section>