<div class="top">
    <div class="top__container">
        {{> header }}
        <div class="top__body">
            <div class="top__intro">
                <p class="top__view-text">
                    Покажем, где теряются деньги,<br>и поможем их вернуть в бизнес!
                </p>
                <h1 class="top__title">
                    Финансовая аналитика для роста и&nbsp;стабильности вашего бизнеса
                </h1>
                <p class="top__extra-text">
                    Оптимизируем расходы, увеличиваем прибыль,<br>предотвращаем кассовые разрывы
                </p>
                <div>
                    <button class="top__intro-btn" data-modal="modal-1">Получить бесплатную консультацию</button>
                </div>
            </div>
            <div class="top__extra">
                    {{#if master_class}}
                    <a href="#" class="top__extra-master">
                        Бесплатный<br>мастер-класс
                    </a>
                    {{/if}}
                    <div class="top__extra-row">
                        <a href="#" class="top__extra-row-link">Скачать<br>презентацию</a>
                        <a href="#" class="top__extra-row-link">Получить<br>коммерческое<br>предложение</a>
                    </div>
                    <a href="#" class="top__extra-nalog {{#unless master_class}}top__extra-nalog--bottom{{/unless}}">
                        Налоговая<br>реформа 2025
                    </a>
            </div>
        </div>
    </div>
</div>