.footer {
  padding: 100px 0 70px;
  background-color: $color-green;
  color: white;

  &__container {
    max-width: 1190px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &__title {
    color: white;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 33px;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__logo {
    display: block;
    flex-shrink: 0;
  }

  &__logo-img {
    display: block;
  }

  &__address {
    margin: 10px 0;
    font-size: 22px;
    font-weight: bold;
    padding-left: 65px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      background-image: url("../img/icons/address-icon.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &__work-time {
    font-weight: bold;
    font-size: 28px;
    position: relative;
    margin: 0;
    padding-left: 65px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      background-image: url("../img/icons/work-time-icon.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &__list {
    grid-column: 2 / 4;
    @include reset-list;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // gap: 33px;
  }

  &__list-item {
    background-color: $color-green-light;
  }

  &__copy {
    text-align: center;
    font-size: 15px;
    max-width: 900px;
    margin: 0 auto;
    color: $color-grey;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Две колонки */
  grid-auto-flow: dense;
  gap: 10px;
}

/* Первые 4 элемента каждого ряда в первой колонке */
.grid-container > *:nth-child(4n + 1),
.grid-container > *:nth-child(4n + 2),
.grid-container > *:nth-child(4n + 3),
.grid-container > *:nth-child(4n + 4) {
  grid-column: 1;
}

/* Последние 2 элемента каждого ряда во второй колонке */
.grid-container > *:nth-child(4n + 5),
.grid-container > *:nth-child(4n + 6),
.grid-container > *:nth-child(4n + 7),
.grid-container > *:nth-child(4n + 8) {
  grid-column: 2;
}
