.logo {
  display: flex;
  align-items: center;
  color: #d3292c;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  &__text {
    display: flex;
    align-items: center;
    white-space: nowrap;
    &::before {
      content: "";
      margin-right: 18px;
      width: 2px;
      height: 100px;
      background-color: #d3292c;
    }
  }
}

.header {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.4;
  font-family: "gilroy", sans-serif;

  &__top {
    padding: 10px 0;
  }

  &__bottom {
    background-color: #f5f5f5;
    padding: 5px 0;
  }

  &__top-inner,
  &__bottom-inner {
    display: flex;
    align-items: center;
  }

  &__top-inner {
    justify-content: space-between;
  }

  &__bottom-inner {
    justify-content: center;
  }

  &__addres {
    display: flex;
    align-items: center;
    margin: 0;
    &::before {
        content: "";
        width: 35px;
        height: 35px;
        background-image: url(../img/adress-icon.svg);
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    &.icon::before {
        content: "";
        width: 37px;
        height: 37px;
        margin-right: 9px;
        background-image: url(../img/phone-icon.png);
    }
  }

  &__clock {
    display: flex;
    align-items: center;
    margin: 0;
    &::before {
        content: "";
        width: 39px;
        height: 39px;
        background-image: url(../img/clock-icon.png);
        margin-right: 12px;
    }
  }
}

.menu {
  &__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  &__item {
    margin: 0 45px;
  }

  &__link {
    color: inherit;
    text-decoration: none;
    font-size: 20px;
    &:hover {
      text-decoration: underline;
    }
  }
}
