.improvements {
  padding: 84px 0 50px;
  overflow: hidden;

  &__shift {
    margin-left: max(calc((100% - 1160px) / 2), 15px);
    margin-top: 57px;
  }

  &__slider .simplebar-track.simplebar-horizontal[style] {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    background-color: #f1f1f1;
    border-radius: 100px;
    cursor: pointer;
    pointer-events: all;
  }

  &__slider .simplebar-track.simplebar-horizontal[style] .simplebar-scrollbar {
    cursor: pointer;
  }

  &__slider
    .simplebar-track.simplebar-horizontal[style]
    .simplebar-scrollbar:before {
    opacity: 1;
    background-color: $color-green-light;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
    cursor: pointer;
  }

  &__slider-track {
    padding-top: 50px;
    padding-left: 0;
    margin: 0;
    counter-reset: improvements;
    display: flex;
  }

  &__item {
    flex-shrink: 0;
    width: 343px;
    background-color: $color-green-light;
    background-position: top center;
    background-size: cover;
    border-radius: 15px;
    aspect-ratio: 343 / 408;
    color: #262626;
    counter-increment: improvements;
    display: flex;
    flex-direction: column;
  }

  &__slider:not(.swiper-initialized) &__item {
    margin-right: 18px;
  }

  &__item-effect {
    padding: 25px 25px 0px 25px;
    width: 100%;
    aspect-ratio: 344 / 288;
    // background-image: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0));
    border-radius: 14px;
    font-weight: 700;
    margin-bottom: 15px;
    &::before {
      content: "0" counter(improvements) "/";
      display: block;
      font-size: 30px;
      margin-bottom: 15px;
    }
  }

  &__item-text {
    margin: 0;
  }

  &__item-bottom {
    margin-top: auto;
    padding: 0 25px 25px 25px;
  }
}
