@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin title {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 40px;
  line-height: 1.1;
}

@mixin descr {
  text-align: center;
  line-height: 1.4;
}

@mixin inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
