.top {
  min-height: 100vh;
  background-image: url("../img/image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 25px 74px 41px;
}

.nav {
  &__list {
    list-style: none;
    padding-left: 0;
    display: flex;
    margin: 0;
  }
}
