@import "./libs";
@import "./mixin";
@import "./vars";

// @font-face {
//   font-family: "gilroy";
//   src: url("../fonts/gilroy-medium.woff2");
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: "gilroy";
//   src: url("../fonts/gilroy-semibold.woff2");
//   font-weight: 600;
//   font-style: normal;
//   font-display: swap;
// }

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  line-height: 1.1;
  color: #1a1a1a;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  text-align: center;
  @include inter;
  font-weight: 800;
  font-size: 40px;
  line-height: 1.1;
  margin: 0;
  color: #333333;
  text-transform: uppercase;
}

.btn {
  text-decoration: none;
  background-color: $color-green;
  color: white;
  padding: 11px 25px;
  border-radius: 66px;
  font-weight: 500;
  font-size: 12px;
  transition: transform 200ms;
  line-height: 1.4;
  &:hover {
    transform: scale(1.05);
  }
}

.btn-light {
  padding: 18px 36px;
  background-color: $color-green-light;
  color: white;
  display: inline-block;
  border-radius: 66px;
  border: none;
  transition: transform 200ms;
  font-size: 20px;
  line-height: 1.4;
  &:hover {
    transform: scale(1.05);
  }
}

.btn-white {
  text-decoration: none;
  background-color: #fff;
  display: inline-block;
  padding: 11px 25px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;
  color: #0f0f0f;
  border-radius: 66px;
  transition: transform 200ms;
  &:hover {
    transform: scale(1.05);
  }
}

@import "./header-main";
@import "./top";
@import "./reasons";
@import "./businesses";
@import "./choices";
@import "./improvements";
@import "./stages";
@import "./tools";
@import "./cases";
@import "./team";
@import "./reviews";
@import "./footer";
@import "./media";
